/* -----------------------------------------------------------------------------

  FONTS
  
----------------------------------------------------------------------------- */
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/oxygen/oxygen-v5-latin-300.eot");
    src: local("Oxygen Light"), local("Oxygen-Light"), url("../fonts/oxygen/oxygen-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-v5-latin-300.woff2") format("woff2"), url("../fonts/oxygen/oxygen-v5-latin-300.woff") format("woff"), url("../fonts/oxygen/oxygen-v5-latin-300.ttf") format("truetype"), url("../fonts/oxygen/oxygen-v5-latin-300.svg#Oxygen") format("svg");
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/oxygen/oxygen-v5-latin-regular.eot");
    src: local("Oxygen"), local("Oxygen-Regular"), url("../fonts/oxygen/oxygen-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-v5-latin-regular.woff2") format("woff2"), url("../fonts/oxygen/oxygen-v5-latin-regular.woff") format("woff"), url("../fonts/oxygen/oxygen-v5-latin-regular.ttf") format("truetype"), url("../fonts/oxygen/oxygen-v5-latin-regular.svg#Oxygen") format("svg");
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/oxygen/oxygen-v5-latin-700.eot");
    src: local("Oxygen Bold"), local("Oxygen-Bold"), url("../fonts/oxygen/oxygen-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-v5-latin-700.woff2") format("woff2"), url("../fonts/oxygen/oxygen-v5-latin-700.woff") format("woff"), url("../fonts/oxygen/oxygen-v5-latin-700.ttf") format("truetype"), url("../fonts/oxygen/oxygen-v5-latin-700.svg#Oxygen") format("svg");
}

@font-face {
    font-family: 'font-awesome';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/font-awesome/all-font-6.eot");
    src: local("Oxygen Bold"), local("Oxygen-Bold"), url("../fonts/oxygen/oxygen-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen/oxygen-v5-latin-700.woff2") format("woff2"), url("../fonts/oxygen/oxygen-v5-latin-700.woff") format("woff"), url("../fonts/oxygen/oxygen-v5-latin-700.ttf") format("truetype"), url("../fonts/oxygen/oxygen-v5-latin-700.svg#Oxygen") format("svg");
}

/* -----------------------------------------------------------------------------

  BOX SIZING RESET
  
----------------------------------------------------------------------------- */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* -----------------------------------------------------------------------------

  ROOT ELEMENTS
  
----------------------------------------------------------------------------- */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #fff;
    background-color: #fff;
    font-family: "Oxygen", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.8;
}

/* -----------------------------------------------------------------------------

  HEADING ELEMENTS
  
----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}

/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */
a {
    color: #dc446e;
    text-decoration: none;
}

a:hover {
    color: #9d1d41;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

/* -----------------------------------------------------------------------------

  MEDIA ELEMENTS
  
----------------------------------------------------------------------------- */
img {
    max-width: 100%;
    height: auto;
}

/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */
.o-container {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 960px;
}

@media all and (min-width: 480px) {
    .o-container {
        padding: 0 24px;
    }
}

@media all and (min-width: 720px) {
    .o-container {
        padding: 0 48px;
    }
}

/* -----------------------------------------------------------------------------

  HEADER OBJECT
  
----------------------------------------------------------------------------- */
.o-header {
    margin: 0;
    padding: 0;
}

.o-header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #dc446e;
}

.o-header-nav__link {
    padding: 12px;
    color: #fff;
}

.o-header-nav__link:hover {
    color: #fff;
    background-color: #9d1d41;
}

.o-header__title {
    margin: 24px;
    padding: 0;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

@media all and (min-width: 480px) {
    .o-header__title {
        margin: 36px;
        font-size: 42px;
    }
}

/* -----------------------------------------------------------------------------

  MAIN OBJECT
  
----------------------------------------------------------------------------- */
.o-main {
    /**/
}

/* -----------------------------------------------------------------------------

  SECTION OBJECT
  
----------------------------------------------------------------------------- */
.o-section {
    margin-bottom: 24px;
}

.o-section:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 720px) {
    .o-section {
        margin-bottom: 48px;
    }
}

/* -----------------------------------------------------------------------------

  SUB-NAVIGATION OBJECT
  
----------------------------------------------------------------------------- */
.o-sub-nav {
    margin: 0;
    padding: 0;
}

.o-sub-nav__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.o-sub-nav__item {
    margin: 0;
    padding: 4px;
}

.o-sub-nav__link {
    display: block;
    margin: 0;
    padding: 4px 24px;
    border: solid 2px #dc446e;
}

.o-sub-nav__link:hover,
.o-sub-nav__item.active .o-sub-nav__link {
    color: #fff;
    background-color: #dc446e;
}

/* -----------------------------------------------------------------------------

  FOOTER OBJECT
  
----------------------------------------------------------------------------- */
.o-footer {
    padding: 12px 0;
    text-align: center;
}

@media all and (min-width: 480px) {
    .o-footer {
        padding: 24px 0;
    }
}

@media all and (min-width: 720px) {
    .o-footer {
        padding: 48px 0;
    }
}

/* -----------------------------------------------------------------------------

  TABS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Tabs component
 *
 * A responsive tabs component that falls back to a linear conent display when
 * JavaScript is disabled. The following is the default suggested markup to play
 * nicely with the JavaScript. If you change it up, just make sure you pass in
 * the correct parameters to the tabs instance.
 *
 * <div id="tabs" class="c-tabs no-js">
 *   <div class="c-tabs-nav">
 *     <a href="#" class="c-tabs-nav__link is-active"></a>
 *     <a href="#" class="c-tabs-nav__link"></a>
 *     ...
 *   </div>
 *   <div class="c-tab is-active">
 *     <div class="c-tab__content"></div>
 *   </div>
 *   <div class="c-tab">
 *     <div class="c-tab__content"></div>
 *   </div>
 *   ...
 * </div>
 */
.c-tabs {
    /**/
    background-color: #fff;
}

/**
 * Tabs navigation
 */
.c-tabs-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-tabs-nav__link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 4px;
    padding: 12px;
    color: #0000cc; /* wana icon saat muncul */
    background-color: #fff;
    text-align: center;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.c-tabs-nav__link:last-child {
    margin-right: 0;
}

.c-tabs-nav__link:hover {
    color: #0000cc; /*warna icon saat hover */
}

.c-tabs-nav__link.is-active {
    color: #dc446e;
    background-color: #e7e7e7;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.c-tabs-nav__link i {
    font-size: 18px;
}

.c-tabs-nav__link span {
    display: none;
    font-size: 18px;
}

@media all and (min-width: 720px) {
    .c-tabs-nav__link i {
        margin-bottom: 12px;
        font-size: 22px;
    }

    .c-tabs-nav__link span {
        display: block;
    }
}

/**
 * Tab
 */
.c-tab {
    display: none;
    background-color: #fff;
}

.c-tab.is-active {
    display: block;
}

.c-tab__content {
    padding: 0rem;
}

/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
    display: none;
}

.c-tabs.no-js .c-tab {
    display: block;
    margin-bottom: 0rem;
}

.c-tabs.no-js .c-tab:last-child {
    margin-bottom: 0;
}

/* -----------------------------------------------------------------------------

  CARBON AD COMPONENT
  
----------------------------------------------------------------------------- */
#carbonads {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    padding: 24px 12px 12px 12px;
    width: 154px;
    background-color: #fff;
    line-height: 1.1;
    border: solid 1px #e7e7e7;
}

.carbon-wrap {
    display: block;
    margin: 0 0 4px 0;
}

.carbon-img {
    display: block;
    margin: 0 0 4px 0;
    padding: 0;
    width: 130px;
    height: 100px;
}

.carbon-text {
    /* color: #818181; */
    color: #fff;

    font-size: 12px;
}

.carbon-poweredby {
    font-size: 10px;
    font-style: italic;
}

.carbonad__close {
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

@media all and (max-width: 660px) {
    #carbonads {
        display: none;
    }
}
