@font-face {
    font-family: 'bpjs';
    src: url('../fonts/bpjs/bpjs.eot?mee6vy');
    src: url('../fonts/bpjs/bpjs.eot?mee6vy#iefix') format('embedded-opentype'),
    url('../fonts/bpjs/bpjs.ttf?mee6vy') format('truetype'),
    url('../fonts/bpjs/bpjs.woff?mee6vy') format('woff'),
    url('../fonts/bpjs/bpjs.svg?mee6vy#bpjs') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bpjs' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bpu:before {
    content: "\e904";
}

.icon-jakon:before {
    content: "\e905";
}

.icon-ppu:before {
    content: "\e906";
}

.icon-jht:before {
    content: "\e900";
}

.icon-jkk:before {
    content: "\e901";
}

.icon-jkm:before {
    content: "\e902";
}

.icon-jp:before {
    content: "\e903";
}
